<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.blockchain.mapper.BcTransactionsMapper">
    
    <resultMap type="BcTransactions" id="BcTransactionsResult">
        <result property="id"    column="id"    />
        <result property="addressId"    column="address_id"    />
        <result property="platformId"    column="platform_id"    />
        <result property="txHash"    column="tx_hash"    />
        <result property="chainType"    column="chain_type"    />
        <result property="tokenSymbol"    column="token_symbol"    />
        <result property="tokenContract"    column="token_contract"    />
        <result property="amount"    column="amount"    />
        <result property="direction"    column="direction"    />
        <result property="fromAddress"    column="from_address"    />
        <result property="toAddress"    column="to_address"    />
        <result property="blockNumber"    column="block_number"    />
        <result property="confirmed"    column="confirmed"    />
        <result property="confirmations"    column="confirmations"    />
        <result property="txStatus"    column="tx_status"    />
        <result property="detectedTime"    column="detected_time"    />
        <result property="confirmedTime"    column="confirmed_time"    />
        <result property="callbackStatus"    column="callback_status"    />
        <result property="callbackTime"    column="callback_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBcTransactionsVo">
        select id, address_id, platform_id, tx_hash, chain_type, token_symbol, token_contract, amount, direction, from_address, to_address, block_number, confirmed, confirmations, tx_status, detected_time, confirmed_time, callback_status, callback_time, create_time, update_time from bc_transactions
    </sql>

    <select id="selectBcTransactionsList" parameterType="BcTransactions" resultMap="BcTransactionsResult">
        <include refid="selectBcTransactionsVo"/>
        <where>  
            <if test="addressId != null "> and address_id = #{addressId}</if>
            <if test="platformId != null "> and platform_id = #{platformId}</if>
            <if test="txHash != null  and txHash != ''"> and tx_hash = #{txHash}</if>
            <if test="chainType != null  and chainType != ''"> and chain_type = #{chainType}</if>
            <if test="tokenSymbol != null  and tokenSymbol != ''"> and token_symbol = #{tokenSymbol}</if>
            <if test="direction != null  and direction != ''"> and direction = #{direction}</if>
            <if test="fromAddress != null  and fromAddress != ''"> and from_address = #{fromAddress}</if>
            <if test="toAddress != null  and toAddress != ''"> and to_address = #{toAddress}</if>
            <if test="blockNumber != null "> and block_number = #{blockNumber}</if>
            <if test="confirmed != null  and confirmed != ''"> and confirmed = #{confirmed}</if>
            <if test="txStatus != null  and txStatus != ''"> and tx_status = #{txStatus}</if>
            <if test="callbackStatus != null  and callbackStatus != ''"> and callback_status = #{callbackStatus}</if>
        </where>
    </select>
    
    <select id="selectBcTransactionsById" parameterType="Long" resultMap="BcTransactionsResult">
        <include refid="selectBcTransactionsVo"/>
        where id = #{id}
    </select>
    <select id="selectBcTransactionByHash" parameterType="String" resultMap="BcTransactionsResult">
        <include refid="selectBcTransactionsVo"/>
        where tx_hash = #{txHash}
    </select>

    <insert id="insertBcTransactions" parameterType="BcTransactions" useGeneratedKeys="true" keyProperty="id">
        insert into bc_transactions
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="addressId != null">address_id,</if>
            <if test="platformId != null">platform_id,</if>
            <if test="txHash != null and txHash != ''">tx_hash,</if>
            <if test="chainType != null and chainType != ''">chain_type,</if>
            <if test="tokenSymbol != null and tokenSymbol != ''">token_symbol,</if>
            <if test="tokenContract != null">token_contract,</if>
            <if test="amount != null">amount,</if>
            <if test="direction != null and direction != ''">direction,</if>
            <if test="fromAddress != null">from_address,</if>
            <if test="toAddress != null">to_address,</if>
            <if test="blockNumber != null">block_number,</if>
            <if test="confirmed != null and confirmed != ''">confirmed,</if>
            <if test="confirmations != null">confirmations,</if>
            <if test="txStatus != null">tx_status,</if>
            <if test="detectedTime != null">detected_time,</if>
            <if test="confirmedTime != null">confirmed_time,</if>
            <if test="callbackStatus != null and callbackStatus != ''">callback_status,</if>
            <if test="callbackTime != null">callback_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="addressId != null">#{addressId},</if>
            <if test="platformId != null">#{platformId},</if>
            <if test="txHash != null and txHash != ''">#{txHash},</if>
            <if test="chainType != null and chainType != ''">#{chainType},</if>
            <if test="tokenSymbol != null and tokenSymbol != ''">#{tokenSymbol},</if>
            <if test="tokenContract != null">#{tokenContract},</if>
            <if test="amount != null">#{amount},</if>
            <if test="direction != null and direction != ''">#{direction},</if>
            <if test="fromAddress != null">#{fromAddress},</if>
            <if test="toAddress != null">#{toAddress},</if>
            <if test="blockNumber != null">#{blockNumber},</if>
            <if test="confirmed != null and confirmed != ''">#{confirmed},</if>
            <if test="confirmations != null">#{confirmations},</if>
            <if test="txStatus != null">#{txStatus},</if>
            <if test="detectedTime != null">#{detectedTime},</if>
            <if test="confirmedTime != null">#{confirmedTime},</if>
            <if test="callbackStatus != null and callbackStatus != ''">#{callbackStatus},</if>
            <if test="callbackTime != null">#{callbackTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBcTransactions" parameterType="BcTransactions">
        update bc_transactions
        <trim prefix="SET" suffixOverrides=",">
            <if test="addressId != null">address_id = #{addressId},</if>
            <if test="platformId != null">platform_id = #{platformId},</if>
            <if test="txHash != null and txHash != ''">tx_hash = #{txHash},</if>
            <if test="chainType != null and chainType != ''">chain_type = #{chainType},</if>
            <if test="tokenSymbol != null and tokenSymbol != ''">token_symbol = #{tokenSymbol},</if>
            <if test="tokenContract != null">token_contract = #{tokenContract},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="direction != null and direction != ''">direction = #{direction},</if>
            <if test="fromAddress != null">from_address = #{fromAddress},</if>
            <if test="toAddress != null">to_address = #{toAddress},</if>
            <if test="blockNumber != null">block_number = #{blockNumber},</if>
            <if test="confirmed != null and confirmed != ''">confirmed = #{confirmed},</if>
            <if test="confirmations != null">confirmations = #{confirmations},</if>
            <if test="txStatus != null">tx_status = #{txStatus},</if>
            <if test="detectedTime != null">detected_time = #{detectedTime},</if>
            <if test="confirmedTime != null">confirmed_time = #{confirmedTime},</if>
            <if test="callbackStatus != null and callbackStatus != ''">callback_status = #{callbackStatus},</if>
            <if test="callbackTime != null">callback_time = #{callbackTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBcTransactionsById" parameterType="Long">
        delete from bc_transactions where id = #{id}
    </delete>

    <delete id="deleteBcTransactionsByIds" parameterType="String">
        delete from bc_transactions where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>